global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  # Self-monitoring
  - job_name: 'prometheus-1'
    static_configs:
      - targets: ['localhost:9090']